<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Elemento</title>
</head>
<body>
    <h1>Editar Elemento</h1>
    <form action="/pagina/edit-item/<%= item.id %>" method="POST">
        <input type="text" name="songName" value="<%= item.songName %>" required placeholder="Nombre de la canción">
        <input type="text" name="artistName" value="<%= item.artistName %>" required placeholder="Nombre del artista">
        <input type="text" name="coverUrl" value="<%= item.coverUrl %>" required placeholder="URL de la carátula">
        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="/pagina/principal"><button>Cancelar</button></a>
</body>
</html>
