<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/inicio/css/estilosdos.css">
</head>
<body>
    <h1>Bienvenido a la Aplicación</h1>
    <p>Por favor, inicie sesión para continuar.</p>
    <a href="/auth/login"><button>Iniciar Sesión</button></a>

</body>
</html>
